include *.rst
include LICENSE
include Makefile
include manage.py
include tox.ini

exclude .bumpversion.cfg
exclude .editorconfig
exclude pep257.sh

recursive-include docs *.rst .gitkeep conf.py Makefile make.bat
recursive-include requirements *.pip

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

graft maxbrauer
graft tests

prune envs
prune maxbrauer/.cache
prune maxbrauer/media
include maxbrauer/media/.gitkeep
prune maxbrauer/static_root
include maxbrauer/static_root/.gitkeep
