{% load static from staticfiles %}
{% load sass_tags %}
{% load blogutils_tags %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>max-brauer.de {% block title %}{% endblock title%}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <header class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a href="/">
          <img class="logo" src="{% static 'img/logo.png' %}" als="Max Brauer">
        </a>
      </div>
      <nav id="responsive-menu">
        <div class="top-bar-right">
          {% block menu %}
            {% site_menu user=user calling_page=self %}
          {% endblock %}
        </div>
      </nav>
    </header>

    <section id="main">
      {% block content %}
      {% endblock %}
    </section>

    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-8 columns">
          <p class="copyright">
            &copy; 2017 Max Brauer, all text is licenced under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>, all code is licenced under <a href="https://opensource.org/licenses/BSD-3-Clause">BSD-3-Clause</a>
          </p>
          <p>
            <a href="{% url 'sitemap' %}"><i class="fa fa-sitemap"></i> Sitemap</a>
          </p>
        </div>
        <div class="small-12 medium-4 columns">
          <ul class="menu align-right home-social">
            <li>
              <a href="https://www.twitter.com/deb_vortex/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/DebVortex/">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="mailto:max@max-brauer.de">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shariff/build/shariff.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script id="dsq-count-scr" src="//max-brauer.disqus.com/count.js" async></script>
  </body>
</html>
